#blog
  if pageTitle || pageSubtitle
    .hero.is-primary.is-small
      .hero-body
        .container
          h1.title= pageTitle
          h2.subtitle= pageSubtitle
  section.section
    .container.blog-post-list
      each post in posts
        .blog-post(id=post.slug)
          .content !{post.content}
          p.card-timestamp #{post.timestamp}
