#timeline
  if pageTitle || pageSubtitle
    .hero.is-primary.is-small
      .hero-body
        .container
          h1.title= pageTitle
          h2.subtitle= pageSubtitle
  section.section
    .container.timeline-post-list
      .timeline.is-centered
        each post in posts
          if post.date
            .timeline-item.is-primary(id=post.slug)
              .timeline-marker.is-primary.is-image.is-32x32
                img(src="/static/timeline_logo.svg")
              .timeline-content
                p.heading #{post.date}
                p.content !{post.content}
          else
            header.timeline-header
              span.tag.is-large.is-primary.milestone #{post.slug}
