nav.primary
  .container
    a.brand(href="/")
      if customBrand
        img(src=customBrand, alt=sitename)
      else
        span.is-monospace(href="/") #{sitename}
    span.pages
      each page in sitetree
        if (page.href !== '/')
          a(href=page.href) #{page.name}
