nav.primary
  .container
    if customBrand
      a.brand-logo.is-monospace(href="/")
        img(src=`${customBrand}`, alt=`${sitename}`)
    else
      a.brand.is-monospace(href="/") #{sitename}
    span.pages
      each page in sitetree
        if (page.href !== '/')
          a(href=page.href) #{page.name}
